<template name="notFound">
  <div class="error">
      <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
      <h3 class="font-bold">Seems you may be lost...</h3>

      <div class="error-desc">
          Sorry, but it seems what you are looking for either isn't here, or never existed. <br/>
          Try refreshing the page or click the button below to go back to the Homepage.
          <div>
              <a class=" login-detail-panel-button btn" href="{{siteUrl}}">
                      <i class="fa fa-arrow-left"></i>
                      Go back to Homepage
                  </a>
          </div>
      </div>
  </div>
</template>
